
<div class="col-md-4 dash-column" id="api-list">
<% if current_user.apis.any? %>
  <% current_user.apis.each do |api| %>
  <div class="api">
    <div class="api-name"> <%= link_to api.name, api_path(api) %> </div>
  </div>
  <% end %>
  <% else %>
  <center>No APIs yet!<br>⬇</center>
<% end %>
</div>
