<p class="lead">Spy API is a development tool that makes testing your app easier.
  It mocks JSON responses from third party APIs, letting you build your app
  without making endless requests to other sites. Best of all, you decide
  what response you want to get back, so you're never dealing with more
  data than you need.
</p>
  <h3>How it works:</h3>
<ol class="center">
    <li> Sign up for an account</li>
    <li> Generate an API key and upload a JSON</li>
    <li> Make your requests at:
      https://spy-api.herokuapp.com/apis?api-key=YOUR_KEY&json=JSON_NAME</li>

</ol>
