

  <div class="row">
    <% if user_signed_in? %>
    <div class="col-md-4 header" id='api-list'>Your APIs</div>

    <div class="col-md-12" id="dashboard">
      <%= render "dashboard" %>
    </div>

    <div class="col-md-4 footer"><div id='api-list' class='dash-button'> <%= link_to 'add API', new_api_path %> </div></div>
  <% else %>

    <div id="introduction">
      <%= render "introduction" %>
    </div>

  <% end %>
</div>
