

  <div class="row">
  <div class="col-md-4 footer">Your APIs</div>
    <% if user_signed_in? %>

    <div class="col-md-12" id="dashboard">
      <%= render "dashboard" %>
    </div>

  <% else %>

    <div id="introduction">
      <%= render "introduction" %>
    </div>

  <% end %>
  <div class="col-md-4 footer"><div id='api-list' class='dash-button'> <%= link_to 'add API', new_api_path %> </div></div>
</div>
