
<div class="row">

  <h1 id="spy-header">Welcome to Spy API</h1>
</div>

  <div class="row">
    <% if user_signed_in? %>

    <div class="col-md-12" id="dashboard">
      <%= render "dashboard" %>
    </div>

  <% else %>

    <div id="introduction">
      <%= render "introduction" %>
    </div>

  <% end %>
</div>
