
<div id="main">

  <h1 id="spy-header">Welcome to Spy API</h1>

  <% if user_signed_in? %>

    <div id="dashboard">
      <%= render "dashboard" %>
    </div>

  <% else %>

    <div id="introduction">
      <%= render "introduction" %>
    </div>

  <% end %>

</div>
