
  <div class="row">
    <div class="col-md-4 footer">Add API</div>
    <div class="col-md-4 footer"> JSONS in <%=@api.name %></div>

    <% if user_signed_in? %>

    <div class="col-md-12" id="dashboard">
      <%= render partial: "welcome/dashboard" %>

    <div class="col-md-4 dash-column" id="json-list">
      <%= render "jsons-list" %>
    </div>

</div>
<% end %>
  <div class="col-md-4 footer"><div id='api-list' class='dash-button'>Add API</div></div>
  <div class="col-md-2 footer"><div id='json-list' class='dash-button'>Edit API</div></div>
  <div class="col-md-2 footer"><div id='json-view' class='dash-button'>Add JSON</div></div>
</div>
