/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .h1, h1 {
    font-size: 36px;
    text-align: center;
}
body {
  background-color: white;
  font-family: 'lato'
}

.center {
  text-align: center;
  list-style-position:inside;
  font-size: 18px;
}

.starter-template {
    margin-top: 50px;
}

div#dashboard {
  /*border: solid;*/
  /*border-color: white;*/
}

#api-list {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.api {
    /*border: dashed;*/

}

#json-list {
  background-color: rgb(0, 0, 0);
}

#json-view {
  background-color: rgb(0, 0, 0);
}
.api {
    margin: 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
    background-color: rgba(255, 255, 255, 0.3);
}

#add-api {
    background-color: rgba(255, 255, 255, 0.7);
    border: dashed;
    border-color: white;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    background: black;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.starter-template {
  height: 800px;
}

#dashboard {
    height: 100%;
}
.footer {
    text-align: center;
}
.dash-button {
    /*display: inline;*/
    padding: 5px;
    background-color: white;
    font-size: 1.5em;
    color: black;
    /*border: solid;*/
    /*border-radius: 10px;*/
    position: relative;
    border: solid;
    border-color: white;
    border-radius: 0px 0px 30px 30px;
    color: white;
    height: 46px;

}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
     padding-right: 0px;
     padding-left: 0px;
}
.dash-column {
  height: 90%;
  /*border: solid;*/
  /*border-color: white;*/
  overflow-y: scroll;
  height: 700px;
  padding: 15px;
  border: solid;
  border-color: white;
      color: white;

}
.api-title {
    background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}
.api-key {
    text-align: center;
}
div#key {
    text-align: center;
    font-size: 1.5em;
}
.json-content {
    padding: 10px;
    overflow-wrap: break-word;
}
a:focus, a:hover {
    color: white;
     text-decoration: none;
}
a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
.header {
    text-align: center;
    font-size: 1.7em;
    border: solid;
    border-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
}
#logo{
    margin: -200px;
}
img{
      transform: scale(0.5);
}
div#introduction {
    margin-top: 100px;
}
.h3, h3 {
    font-size: 24px;
    text-align: center;
}
#flash {
    position: absolute;
    top: 100px;
    padding: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
    margin-top: 200px;
}
textarea {
    width: 95%;
    height: 200px;
    border: solid;
}
.btn-primary {
    background-color: black;
    border-color: transparent;
  }
.btn-primary:hover {
    color: #fff;
    background-color: grey;
    border-color: #transparent;
}
input#api_name {
  background-color: transparent;
    /* border-bottom-color: bla; */
    border: solid;
    border-color: transparent;
    border-bottom-color: black;
    padding: 5px;
    padding-bottom: 0;
}
input#json_name {
  background-color: transparent;
    /* border-bottom-color: bla; */
    border: solid;
    border-color: transparent;
    border-bottom-color: black;
    padding: 5px;
    padding-bottom: 0;
}
.new_api {
      text-align: center;
    background-color: white;
    height: 40%;
    margin: 15px;
}
.new_json{
        text-align: center;
      background-color: white;
      height: 40%;
      margin: 15px;

}
.form-group {
      color: rgba(255, 255, 255, 0.7);
      padding-top: 50px;
}
input:focus{
  outline: none;
}
div#name-field {
    margin-bottom: 20px;
}
.new_json {
    text-align: center;
    background-color: white;
    height: 60%;
    margin: 15px;
}
h2{
  text-align: center;
  margin-top: 100px;
}
form#new_user {
    text-align: center;
}
